/* Global */
* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	width: 100%;
	background-color: #f7f7f7;
	font-family: tahoma, helvetica, sans-serif;
	font-size: 8pt;
	color: #000;
	min-width: 850px;
}

.sidebar {
	float: right;
	width: 250px;
	height: 100%;
}

.sidebar img {
	width:100%;
}


.sidebar .box {
	margin: 0px 5px 10px 5px;
}

td.avatar {
	width: 150px;
	padding: 0px;
	margin-top: -1px;
}